 .sriracha-regular {
     font-family: "Sriracha", cursive;
     font-weight: 400;
     font-style: normal;
 }

 body {
     background-color: rgb(208, 243, 143);
 }

 .header-text {
     text-align: center;
     color: rgb(20, 100, 0);
     white-space: nowrap;
     margin-left: 6%;
     margin-right: 6%;
 }

 .header-container {
     margin-top: 0.5%;
     background-color: rgb(255, 255, 255);
     padding: 1%;
     border-radius: 15px;
     width: 40%;

 }

 .flex-header {
     display: flex;
     justify-content: center;
 }


 .img-container {
     padding: 2%;
     margin-right: auto;
     background-size: 10%;
     width: 40%;
     margin-left: auto;


 }

 .nva-menu-container {
     color: rgb(32, 148, 250);
     background-color: rgb(250, 250, 250);
     margin-top: 1%;
     margin-bottom: 1%;
     padding: 1%;
     font-size: 20px;
     white-space: nowrap;

 }

 .nav-menu-item {
     margin-left: 1%;
     margin-right: 1%;
     text-decoration: none;
     color: blue;
     font-weight: 100;
     font-size: 20px;

 }